:root{
    --white-color: #ffff;
    --black-color: #000000;
    --text-color: #333333;
    --primary-color: #ee4d2d;
    --border-color: #d4d4d4ee;

    --header-height: 120px;
    --navbar-height: 34px;
    --search-bar-height: calc(var(--header-height)- var(--navbar-height));
}

*{
    box-sizing: inherit;
}

body{
    margin: 0px;
}

html{
    line-height: 16px;
    font-family: Arial;
    box-sizing: border-box; 
}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;

}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 
@keyframes growth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.075);
}

.modal__body{
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth ease-in 0.2s
}

.btn{
    height: 34px;
    width: 142px;
    color: var(--text-color);
    border: none;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    padding: 0 8px;
    font-size: 14px;
    outline: none;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-normal:hover{
    background-color: #29292910;
}

.btn.btn--size-s{
    height: 30px;
    font-size: 12px;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    cursor: default;
    background-color: #b8b6b6;
    color: #929292;
}

/* Selection */
.select-input{
    height: 34px;
    width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.select-input__label{
    font-size: 14px;
}

.select-input__icon{
    color: #999;
    font-size: 14px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 19px;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 10px 16px;
    display: none;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__item{
    list-style: none;
}

.select-input__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}
