/* Header */
.header{
    height: var(--header-height);
    background-image: -webkit-linear-gradient(#f53d2d, #f63);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    padding-left: 0;
    margin: 8px 0 16px 0;
    display: flex;
}

.header__navbar-item{
    list-style: none;
    display: inline-flex;
    justify-items: center;
    font-size: 13.5px;
    color: var(--white-color);
    position: relative;
    margin: 0 8px;
    user-select: none;
}

.header__navbar-item-link, .header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    display: inline-flex;
    justify-items: center;
    user-select: none;
}

.header__navbar-icon-link:first-child{
    margin-left: 4px;
}

.header__navbar-item-link:hover{
    opacity: 0.8;
    cursor: pointer;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1.5px solid #f68e81;
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon{
    font-size: 18px;
    margin: 0 4px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-avt{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #EE4D2D ;
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 14px;
    cursor: pointer;
}

.header__navbar-user-name:hover{
    opacity: 0.7;
}

.header__navbar-user-list{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 150px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-list{
    display: block;
} 

.header__navbar-user-list::before{
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 18px;
    top: -20px;
}

.header__navbar-user-list::after{
    position: absolute;
    content: "";
    display: block;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.header__navbar-user-item{
    list-style: none;
    cursor: pointer;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover{
    background-color: #ecececd2;
    color: #42aa9a;
    cursor: pointer;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid var(--border-color);
}

/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 3px 2px #999999c2;
    display: none;
    animation: fadeIn ease 0.3s;
    z-index: 1;
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 12px;
}

.header__qr-link:last-child{
    margin-right: 12px;
}

.header__qr-apps-img{
    height: 16px;
}

.header__navbar-item__qr-display:hover .header__qr{
    display: block;
    cursor: pointer;
}

/* Header Notifications */
.header__noti{
    position: absolute;
    z-index: 1;
    top: 120%;
    right: 0;
    width: 400px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotiGrowth ease-in 0.2s;
    display: none;
}

@keyframes headerNotiGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__noti::before{
    position: absolute;
    width: 100%;
    height: 27px;
    top: -24px;
    content: "";
    display: block;
}

.header__noti::after{
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 18px;
    top: -20px;
}

.header__noti-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__noti-header h3{
    color: #999;
    font-weight: 80;
    font-size: 14px;
    margin: 0 0 0 12px;
    line-height: 40px;
    user-select: none;
}

.header__noti-list{
    padding: 0;
}

.header__noti-item{
    display: flex;
}

.header__noti-item--viewed{
    background-color: rgb(238, 77, 45, 0.07);
}

.header__noti-item:hover{
    background-color: #f1f1f1cb;
}

.header__noti-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__noti-img{
    width: 48px;
    height: 48px;
}

.header__noti-info{
    margin-left: 6px;
}

.header__noti-name{
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}

.header__noti-discription{
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #888888;
}

.header__noti-footer{
    width: 100%;
    height: 40px;
    display: flex;
}

.header__noti-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    margin: auto;
    padding: 0 165px 0 165px;
}

.header__noti-footer:hover{
    background-color: #dbd9d92f;
}

.header__navbar-item--noti-display:hover .header__noti{
    display: block;
}

/* Authentic form */
.authentic-form{
    width: 450px;
}

.authentic-form__container{
    padding: 0 32px;
}

.authentic-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.authentic-form__heading{
    font-size: 24px;
    font-weight: 550;
    color: var(--text-color);
}

.authentic-form__switch-btn{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.authentic-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.authentic-form__input:focus{
    color: #888;
}

.authentic-form__note{
    margin-top: 20px;
}

.authentic-form__policy{
    font-size: 12px;
    text-align: center;
    
}

.authentic-form__policy-link{
    color: var(--primary-color);
    text-decoration: none;
}

.authentic-form__controls{
    margin-top: 80px;
    text-align: end;
}

.authentic-form__controls-back{
    margin-right: 8px;
}

.authentic-form__socials{
    height: 45px;
    background-color: #d4d3d3c0;
    padding: 6px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.authentic-form__socials-icon{
    font-size: 18px;
}

.authentic-form__socials--facebook{
    width: 49%;
    color: var(--white-color);
    background-color: #3188fa;
}

.authentic-form__socials--facebook .authentic-form__socials-icon{
    color: var(--white-color);
}

.authentic-form__socials-title{
    margin: 0 20px;
}

.authentic-form__socials--google{
    width: 49%;
    background-color: var(--white-color);
    color: rgb(102, 102, 102);
}

.authentic-form__help{
    display: flex;
    justify-content: flex-end;
}

.authentic-form__help-link{
    font-size: 13px;
    text-decoration: none;
}

.authentic-form__help--separate{
    content: "";
    display: block;
    margin: 0 16px 10px;
    border-left: 1.5px solid var(--border-color);
    height: 20px;
}

.authentic-form__help-link--forgot{
    color: var(--primary-color);
}

.authentic-form__help-link--help{
    color: #777;
}

/* Search bar */
.header__search-bar{
    height: var(--search-bar-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    user-select: none;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 160px;
}

.header__search{
    display: flex;
    align-items: center;
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 3px;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    color: #b7b7b7;
    font-size: 14px;
    margin: 12px 8px;
}

.header__search-history-list{
    padding-left: 0;
    margin: 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 8px;
    list-style: none;
}

.header__search-history-item:hover{
    background-color: #ebebeba9;
}

.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    line-height: 38px;
    display: block;
}

.header__search-select{
    position: relative;
    border-left: 1px solid #99999970;
    padding-left: 16px;
    user-select: none;
}

.header__search-select-label{
    color: var(--black-color);
    font-size: 14px;
    cursor: pointer;
}

.header__search-select-icon{
    color: #999;
    font-size: 14px;
    margin: 0 16px;
}

.header__search-btn{
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover{
    opacity: 0.75;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 16px;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    margin: 2px 0;
    width: 200px;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.header__search-option::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
}

.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
    list-style: none;   
}

.header__search-option-item:hover{
    background-color: #f1f1f1;
}

.header__search-option-item span{
    font-size: 14px;
    color: var(--text-color);
    margin-right: 50px;
}

.header__search-option-item i{
    font-size: 12px;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active.header__search-option-item i{
    display: inline-block;
}

/* Header Cart */
.header__cart{
    width: 150px;
    text-align: center;
    user-select: none;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon{
    font-size: 28px;
    color: var(--white-color);
}

.header__cart-notice{
    top: -7px;
    right: -2px;
    color: var(--primary-color);
    background-color: var(--white-color);
    position: absolute;
    padding: 1px 6px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    font-size: 14px;
    line-height: 16px;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 15px);
    right: -4px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 8px #999;
    cursor: default;
    user-select: none;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
}

.header__cart-list::before{
    content: "";
    position: absolute;
    right: 8px;
    top:  -22px;
    cursor: pointer;
    border-width: 12px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-product .header__cart-no-product-img , .header__cart-list--no-product .header__cart-no-product-msg{
    display: block;
    margin: 0 auto;
}

.header__cart-list--no-product{
    padding: 24px 0;
}

.header__cart-no-product-img{
    width: 50%;
    display: none;
}

.header__cart-no-product-msg{
    font-size: 14px;
    margin: 0 0 24px 0;
    color: var(--text-color); 
    display: none;
}

.header__cart-heading{
    text-align: left;
    font-size: 14px;
    color: #939393;
    margin-left: 12px;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 45vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    cursor: pointer;
}

.header__cart-item:hover{
    background-color: #ebebeba9;
}

.header__cart-img{
    width: 32px;
    height: 36px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-product{
    font-size: 14px;
    color: var(--text-color);
    text-align: left;
    margin: 0;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__cart-item-price{
    font-size: 14px;
    color: var(--primary-color);
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    opacity: 0.8;
}

/* App Container */
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 32px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
    user-select: none;
}

.category__heading{
    font-weight: 100;
    font-size: 16px;
    color: var(--text-color);
    padding: 12px 16px 0;
    margin-top: 0;
}

.category-list{
    padding-left: 0;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid var(--border-color);
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    font-size: 13.7px;
    color: var(--text-color);
    padding: 10px 20px;
    display: block;
}

.category-item__link:hover{
    background-color: #ecececd2;;
    color: var(--primary-color);
}

/* Home Filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    background-color: #ededed;
    border-radius: 2px;
    user-select: none;
}

.home-filter__label{
    color: #676767;
    font-size: 14px;
    margin-right: 16px;
}

.home-filter__btn{
    width: 90px;
    margin-right: 12px;
    color: var(--text-color);
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 14px;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    width: 72px;
    height: 32px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid var(--border-color);
}

.home-filter__page-btn--disable{
    opacity: 0.6;
    cursor: default;
}

.home-filter__page-icon{
    margin: auto;
}

/* Home Product */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    user-select: none;
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px #999999d0;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px #949494d0;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 12px;
    font-weight: 200;
    color: var(--text-color);
    line-height: 18px;
    height: 36px;
    margin: 8px 12px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    margin: 12px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    font-size: 14px;
    color: #757575;
    text-decoration: line-through;
    margin-right: 4px;
}

.home-product-item__price-now{
    font-size: 16px;
    color: var(--primary-color);
}

.home-product-item__action{
    display: flex;
    margin: 4px 12px ;
    justify-content: space-between;
}

.home-product-item__heart{
    font-size: 14px;
}

.home-product-item__heart-icon-fill{
    color: red;
    display: none;
}

.home-product-item__heart--liked .home-product-item__heart-icon-fill{
    display: inline-block;
}

.home-product-item__heart--liked .home-product-item__heart-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 10px;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 12px;
    color: var(--black-color);
    margin-left: 4px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 6px 12px 0 12px;
    padding-bottom: 10px;
}

.home-product-item__brand{
    color: #595959;
    font-size: 12px;
}

.home-product-item__origin-name{
    font-size: 12px;
    color: #595959;
}

.home-product-item__mall{
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 12px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 0 4px 0 4px;
    border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__mall span{
    color: var(--white-color);
}

.home-product-item__mall::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    color: #ffd900d8;
    background-color: currentColor ;
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent{
    font-size: 12px;
    color: var(--primary-color);
}

.home-product-item__sale-off-label{
    font-size: 13px;
    margin: 3px;
    color: var(--white-color);
    font-weight: 550;
}

.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    border-width: 4px 20px 4px;
    border-style: solid;
    border-color: currentColor currentColor transparent currentColor;
}

.home-product__pagination{
    margin: 50px 0 100px 0;
}
